<!-- TOOLBAR -->
<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()"
  >
    <mat-icon color="primary">menu</mat-icon>
  </button>
  <span>Toolbar Israel Serrano</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon color="primary">favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon color="primary">share</mat-icon>
  </button>
</mat-toolbar>

<!-- SIDENAV -->
<mat-sidenav #sidenav class="sidenav">
  <mat-nav-list>
    <mat-list-item *ngFor="let itemMenu of menus" 
    [routerLink]="itemMenu.ruta" (click)="sidenav.close()">
    <div matListItemIcon><mat-icon color="primary">{{itemMenu.icono}}</mat-icon></div>
    <a>{{itemMenu.item}}</a>
  </mat-list-item>
  </mat-nav-list>
</mat-sidenav>

<mat-sidenav-container><router-outlet></router-outlet></mat-sidenav-container>
